<!DOCTYPE suite SYSTEM "https://testng.org/testng-1.0.dtd">

<suite name="OrangeHRM Suite" parallel="classes" thread-count="5">
    <listeners>
        <listener class-name="listeners.TestListener"></listener>
    </listeners>

    <test name="Logout Test">
        <classes>
            <class name="tests.LogoutTest"/>
            <class name="tests.OrangeHRMValidLogin"></class>
            <class name="tests.AdminSystemUserFind"></class>
            <class name="tests.DeleteAdminUser"></class>
            <class name="tests.ForgotPassword"></class>
        </classes>

    </test>

</suite>